{# templates/article/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier l'article{% endblock %}

{% block content %}
    <div class="container">
        <h1>Modifier l'article</h1>

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.imageFile) }}
            {{ form_widget(form.imageFile, {'attr': {'class': 'form-control-file'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.price) }}
            {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.sizes) }}
            {{ form_widget(form.sizes, {'attr': {'class': 'form-check-input'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.quantity) }}
            {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button type="submit" class="btn btn-primary">Modifier</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
