{# templates/article/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
    <div class="container">
        <h1>Nouvel Article</h1>

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.imageFile) }} {# Change this line #}
            {{ form_widget(form.imageFile, {'attr': {'class': 'form-control-file'}}) }} {# Change this line #}
        </div>
        <div class="form-group">
            {{ form_label(form.price) }}
            {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.sizes) }}
            {{ form_widget(form.sizes, {'attr': {'class': 'form-check-input'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.quantity) }}
            {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button type="submit" class="btn btn-primary">Créer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
