{# upload.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
    <h1>Deployment Upload</h1>
    {{ form_start(form) }}
    {{ form_row(form.projectFile) }}
    {{ form_row(form.projectType, {
        'attr': {
            'class': 'custom-select',
            'placeholder': 'Select Project Type'
        }
    }) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
