{% extends 'base.html.twig' %}

{% block title %}Détails du membre
{% endblock %}

{% block content %}
	<div class="container">
		<h1>Détails du membre</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>ID</th>
					<td>{{ member.id }}</td>
				</tr>
				<tr>
					<th>Prénom</th>
					<td>{{ member.firstName }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ member.lastName }}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>{{ member.email }}</td>
				</tr>
				<tr>
					<th>Téléphone</th>
					<td>{{ member.phone }}</td>
				</tr>
				<tr>
					<th>Role</th>
					<td>{{ member.isRole ? 'Oui' : 'Non' }}</td>
				</tr>
			</tbody>
		</table>
		<a href="{{ path('member_index') }}" class="btn btn-secondary">Retour à la liste</a>
		<a href="{{ path('member_edit', {'id': member.id}) }}" class="btn btn-warning">Modifier</a>
		<form action="{{ path('member_delete', {'id': member.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this member?');">
			<input type="hidden" name="_method" value="DELETE">
			<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ member.id) }}">
			<button class="btn btn-danger">Delete</button>
		</form>


	{% endblock %}
